@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  font-size: 20vh;
  margin: 10px 0px 10px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.background {
  min-height: 75vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: left;
  /* padding: px; */
}

@media only screen and (min-width: 992px) {
  .background {
    min-height: 75vh;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: left;
  }
}


.ant-card {
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

.ant-form-item-label > label {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

